# API Base URL
VITE_API_BASE_URL=https://2814-125-166-0-162.ngrok-free.app/api
# API Timeout (in milliseconds)
VITE_API_TIMEOUT=10000
# Environment
VITE_ENV=development
# google reCAPTCHA Site Key
VITE_RECAPTCHA_SITE_KEY=site_key_recaptcha
# banner id
VITE_BANNER_ID_LIST_APPS=a0839a9a-9970-4b5b-bf2e-a08787ef6c8f